#maplist-container {
    position: relative;
    width: 100%;
    min-height: 700px;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    /* background-color: blue; */

}

#list-container {
    position: absolute;
    min-width: 500px;
    min-height: 700px;
    height:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;

    /* background-color: blueviolet; */
}

#map-content {
    width: 100%;
    min-height: 500px;
    height: 100%;
    padding-right: 10px;
}

.tags{
    width: 60px;
}